@{
    ViewBag.Title = "CMS Homepage";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

@section featured {
    <ul class="cmsfeatures">
        <li><a href="#"><img src="~/Images/newspaper1.png" />News Feed</a></li>
        <li><a href="#"><img src="~/Images/youtube7.png" />Youtube Gallery</a></li>
        <li><a href="#"><img src="~/Images/giftbox.png" />Gift Shop</a></li>
        <li><a href="#"><img src="~/Images/call37.png" />Departments and Services</a></li>
        <li><a href="#"><img src="~/Images/person302.png" />OR Status</a></li>
        <li><a href="#"><img src="~/Images/drugs5.png" />Prescription Refill</a></li>
        <li><a href="#"><img src="~/Images/surgeon1.png" />Find Physician</a></li>
        <li><a href="#"><img src="~/Images/calendar146.png" />Calendar</a></li>
        <li><a href="#"><img src="~/Images/business53.png" />Resources</a></li>
        <li><a href="#"><img src="~/Images/appointment.png" />Appointments</a></li>
        <li><a href="#"><img src="~/Images/clock136.png" />ER Time</a></li>
        <li><a href="#"><img src="~/Images/business139.png" />Contact Page</a></li>
        <li><a href="#"><img src="~/Images/job-search1.png" />Job Posting</a></li>
        <li><a href="#"><img src="~/Images/eco28.png" />Volunteer Posting</a></li>
        <li><a href="#"><img src="~/Images/stethoscope1.png" />Health Gallery</a></li>
        <li><a href="#"><img src="~/Images/man412.png" />Patient History</a></li>
    </ul>

    }
